results/**
!results/**/
!.gitkeep

data/**
!data/**/
!.gitkeep

src/modules/__pycache__
src/modules/unused
src/__pycache__
src/check_data.ipynb
src/check_results.ipynb

job_scheduler.sh
snow_code.code-workspace